.armchair {
  min-height: 604px;
  padding: 192px 0 193px 0;
  background: url(../../img/Rectangle_bg.jpg) center (center / cover) no-repeat;
  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
  }
  &__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    margin-top: 50px;
  }
}
