.button {
  border: 2px solid #f13c6e;
  border-radius: 40px;
  background-color: transparent;
  width: 170px;
  height: 40px;
  transition: 0.3s all;
  &:hover {
    background-color: $color-red;
    color: white;
  }
  &_armchair {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 40px;
    margin-top: 50px;
    &:hover {
      background-color: #fff;
      color: $color-red;
    }
  }
  &_catalog {
    display: block;
    width: 130px;
    height: 35px;
    background: #f13c6e;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 20px;
    color: #ffffff;
    &:hover {
      border: 2px solid #f13c6e;
      background-color: transparent;
      color: black;
    }
  }
  &_cards {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #ffffff;
    margin-top: 25px;
    width: 170px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    text-align: center;
  }
}
